################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/GestaoCondominio.ControlePortaria.Api/Documentos
/src/GestaoCondominio.ControlePortaria.Api/Comprovantes
/.vs/GestaoCondominioApi/CopilotIndices/17.14.1091.29919
/.vs/GestaoCondominioApi/FileContentIndex
/.vs/GestaoCondominioApi/v17
/.vs
